{% extends 'uaa/uaamain.html' %}
{% block content %}

<div class="card-body">
    <p class="login-box-msg">Register a new membership</p>
    
    {% include 'uaa/authmessage.html' %}

    <form method="post">
      {% csrf_token %}
      <div class="input-group mb-3">
        <input type="text" name="Username" class="form-control" placeholder="Username" required>
        <div class="input-group-append">
          <div class="input-group-text">
            <span class="fas fa-user"></span>
          </div>
        </div>
      </div>
      <div class="input-group mb-3">
        <input type="email" name="Email" class="form-control" placeholder="Email" required>
        <div class="input-group-append">
          <div class="input-group-text">
            <span class="fas fa-envelope"></span>
          </div>
        </div>
      </div>
      <div class="input-group mb-3">
        <select name="BranchId" class="form-control" required>
          {% for branch in branchObjectId %}
          <option value="{{branch.id}}">{{ branch.name }}</option>
          {% endfor %}
        </select>
        <div class="input-group-append">
          <div class="input-group-text">
            <span class="fas fa-building"></span>
          </div>
        </div>
      </div>
      <div class="input-group mb-3">
        <input type="password" name="Password" class="form-control" placeholder="Password" required>
        <div class="input-group-append">
          <div class="input-group-text">
            <span class="fas fa-lock"></span>
          </div>
        </div>
      </div>
      <div class="input-group mb-3">
        <input type="password" name="ConfirmPassword" class="form-control" placeholder="Retype password" required>
        <div class="input-group-append">
          <div class="input-group-text">
            <span class="fas fa-lock"></span>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-8">
          <div class="icheck-primary">
            <input type="checkbox" id="agreeTerms" name="terms" value="agree">
            <label for="agreeTerms">
             I agree to the <a href="#">terms</a>
            </label>
          </div>
        </div>
        <!-- /.col -->
        <div class="col-4">
          <button type="submit" class="btn btn-primary btn-block">Register</button>
        </div>
        <!-- /.col -->
      </div>
    </form>

    <a href="{% url 'login_url' %}" class="text-center">I already have a membership</a>
  </div>
  <!-- /.form-box -->

{% endblock content %}